*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: gray;
    color:white;
    height: 60px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


nav ul{
    list-style-type: none;
}
.gameContainer{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows:repeat(3,10vw);
    font-family:bold;
}
.box{
    border: 2px solid black;
    font-size: 9vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box:hover{
    background-color: rgb(232, 223, 241);
}
.info{
    font-size: 28px;
}
.gameInfo{
    padding: 0 34px;
    
}
.imgbox img{
    width: 0;
    transition: width is ease-in-out;
    padding-top: 50px;
    padding-left:60px ;
    
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 8px 30px;
    padding: 5px 18px;
    background-color: rgb(223, 214, 231);
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    
    
}